.game
{
    width: 720px;
    border: solid 1px rgb(255, 255, 255);
    margin: 0 auto;
    background: #ffffff;
    text-align:center;
    min-height:430px;
}

.btn{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
}

.btn:hover{
    background:dodgerblue;
}

.game h3
{
padding: 10px;
background:black;
color:white;
}

.game .game-body
{
padding: 20px;
}

.game .game-options
{
text-align:center;
}

.players{
       width: 500px;
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.player{
    width: 40%;
    border: solid 5px #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.player.active{
    border: solid 5px #222;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.deck{
    float:left;
    background: white;
    color:#222;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}

#game-body{
    position:relative;
    top:0%;
    left: 0px;
    transition: all .5s ease-in-out;
    width:85%;
    height: 100%;
  }

/*.btn
{
    background:#222;
    color:white !important;
    border-radius:0px;
}